[hidden] {
  display: none;
}

body, html{
  height:100%;
  background-size: cover;
  font-family: sans-serif;
}

body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  text-decoration: none;
  color: darkblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;

  font-size: 1.2rem;
  text-transform: uppercase;
  color: darkblue;
}

.addDancerButton: hover {
  text-shadow: 2px black;
}

.topbar{
  height:32px;
  background-color: rgba(255, 255, 255, 0.719);
  text-transform: uppercase;
}
.title{
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px black;
}

.dancer {
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.red{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.spin {
  transition-duration: 1s;
  transition-property: transform;
  animation:spin 4s linear infinite;
}

.slide {
  position: relative;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 20%; }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
